* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343f4f;
}

.wrapper {
  display: inline-flex;
  align-items: center;
}

.static-text {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.dynamic-text {
  margin-left: 15px;
  font-size: 60px;
  font-weight: 500;
  color: #fc6d6d;
  display: flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 60px;
  background-color: #fc6d6d;
  margin-left: 5px;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
