/* 

Description:
This CSS file defines styles for a wavy background animation with multiple layers of waves and a centered text overlay.

Classes:
1. .container:
  - Positions the container absolutely to fill the viewport.
  - Centers its content and hides overflow.

2. .line:
  - Defines a full-screen layer with a background color.
  - Acts as a base for wave animations.

3. .mid-text:
  - Positions text in the center of the screen.
  - Includes styles for the heading inside it.

4. .line-one, .line-two, .line-three:
  - Define different layers of the animation with varying z-index and opacity.

5. .wave:
  - Represents the wave animation layers.
  - Positioned absolutely and styled for repeating wave patterns.

6. .wave-one, .wave-two, .wave-three:
  - Customize the wave layers with different background sizes and animations.
  - .wave-two and .wave-three include animation for dynamic wave movement.

Keyframes:
- @keyframes animate:
  - Defines the wave animation with a horizontal translation and vertical scaling effect.
  - Animates from the initial position to a scaled and shifted state, then back to the original.

Purpose:
- Creates a visually appealing wavy background animation with layered effects and a centered text overlay.
*/
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(119, 151, 255);
}

.mid-text {
  position: absolute;
  z-index: 45;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mid-text h2 {
  color: #fff;
  font-family: "big john", sans-serif;
  font-size: 50px;
}

.line-one {
  z-index: 15;
  opacity: 0.5;
}
.line-two {
  z-index: 10;
  opacity: 0.7;
}
.line-three {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave-one {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
}
.wave-two {
  -webkit-background-size: 50% 80px;
  background-size: 50% 100px;
  animation: animate 12s linear infinite;
}
.wave-three {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
